* {
  margin: 0;
}

body {
  background-color: AntiqueWhite;
}

header {
  margin-top: 20px;
  background-image: linear-gradient(to right, darkgreen, limegreen);
  border-top: 5px solid darkgreen;
  height: 60px;
}

nav p {
  display: inline-block;
  font-size: 2em;
  color: antiquewhite;
  cursor: pointer;
  float: left;
  font-family: arial;
  margin: 7px 30px;
} 

nav ul {
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding-top: 15px;
  margin-right: 40px;
}

nav a {
  text-decoration: none;
  font-size: 1.30em;
  font-weight: bold;
  text-transform: uppercase;
  color: antiquewhite;
  font-family: arial;
}

a:hover {
  background: darkslategrey;
}